@model IEnumerable<oficina2_ordem_servico.Models.TipoProdutoModel>

@{
    ViewBag.Title = "Tipo de Produto";
}

<h3>Tipo de Produto</h3>

<p>
    @Html.ActionLink("Cadastrar novo", "Cadastrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoProduto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoProduto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Deletar", "Deletar", new { id = item.Id })
        </td>
    </tr>
}

</table>
