@model oficina2_ordem_servico.Models.ConsultorUsuarioModel

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ConsultorUsuarioModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })

                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.CpfCnpj, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.CpfCnpj, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CpfCnpj, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>


        <hr />
        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.LoginUsuario, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.LoginUsuario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LoginUsuario, "", new { @class = "text-danger" })

                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.LoginSenha, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.LoginSenha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LoginSenha, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>
        <hr />




        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Telefone1, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Telefone1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefone1, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Telefone2, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Telefone2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefone2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <hr />
        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Logradouro, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Logradouro, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.LogradouroNumero, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.LogradouroNumero, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LogradouroNumero, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.LogradouroComplemento, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.LogradouroComplemento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LogradouroComplemento, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="form-row">

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownListFor(model => model.Estado, null, string.Empty, htmlAttributes: new { @class = "form-control" }) @*onchange = "buscarCidades()",*@
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownListFor(model => model.Cidade, null, string.Empty, htmlAttributes: new { @class = "form-control" })
                    @*<select id="id_cidade" name="id_cidade" , class="form-control"></select>*@
                    @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    <script src="~/Scripts/Oficina.js"></script>
}